.User-output {
    border-radius: 5px 5px 5px 5px;
    padding: 20px; 
    background-color: whitesmoke;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    margin: 15px;
    text-align: center;
}

.User-output-intro {
    color: brown;
}